<% @subject.tasks.each do |task| %>
  <tr>
    <td class="col-xs-2 text-center">

    </td>

    <td class="col-xs-8 text-center"><%= task.task_name %></td>
    <td class="col-xs-8 text-center"><%= task.time_day %></td>
    <td class="col-xs-8 text-center"><%= l task.start_date, format: :date_month_year_concise if task.start_date %></td>
    <td class="col-xs-2 text-center">
      <%= link_to (t "admin.subjects.new.edit_subject"), edit_admin_subject_path(@subject), class: "btn btn-primary" %>
    </td>
  </tr>
<% end %>
