<% @tasks.each do |t| %>
  <tr>
    <td class="col-xs-8 text-center"><%= link_to t.task_name %></td>
    <td class="col-xs-8 text-center"><%= t.time_day %></td>
    <td class="col-xs-8 text-center"><%= l t.start_date, format: :date_month_year_concise if t.start_date %></td>
    <td class="col-xs-2 text-center">
      <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
      </label>
    </td>
  </tr>
<% end %>
