# Be sure to restart your server when you modify this file.
# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: b78bdcd0885f7246c25ae9871fb1c689f6862589a9f9189065fe71d8cd0a4094755517978f6010d01150f8bb4967f03746347ac4c9c42ea3196a9b3a0dc91c1

 test:
  secret_key_base: 47a60a69b4b87f90c6655af2b9ea284fd58fb5aad26b99af5c9086b38130a651e1b3445f87d32149d70c84a9003fc91de589adf4e3de59ffd076de2294baefa

 # Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:   secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
