<% @subject.tasks.each do |task| %>
  <tr>
    <td class="col-xs-2 text-center">
      <li></li>
    </td>

    <td class="col-xs-8 text-center"><%= task.task_name %></td>
    <td class="col-xs-2 text-center">
      <%= link_to (t "admin.subjects.new.edit_subject"), edit_subject_path(@subject), class: "btn btn-primary" %>
    </td>
  </tr>
<% end %>
