<tr>
  <td><%= user.email %></td>
  <td><%= user.role %></td>
  <td>
    <%= link_to (t".edit"),edit_admin_user_path(user), class: "btn btn-primary" %>
    <%= link_to (t".delete"),admin_user_path(user), class: "btn btn-danger",
      method: :delete, data: { confirm: t(".sure")} unless user.admin? %>

  </td>
</tr>
