<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <%= link_to (t "layouts.header.dashboard"), root_path %>
  </li>
  <li class="breadcrumb-item active"><%= t "admin.users.new.create_user"%></li>
</ol>

<%= render partial: "form" %>


