  <div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="info-profile">
        <h5>
          <%= t "view.user.email" %> <%= @user.email %>
        </h5>
        <h5>
          <%= t "view.user.role" %>
          <span class="label label-info"><%= @user.role %></span>
        </h5>
      </div>
    </div>
  </div>
</div>
